* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  padding: 60px 20px 20px 20px;
  max-width: 360px;
}
strong {
  color: green;
}
section {
  border-top: solid 5px #999999;
  background-color: #666666;
  padding: 40px 20px;
  width: 100%;
}
.card {
  max-width: 640px;
  background-color: white;
  padding: 3px 20px;
  border-bottom: solid 5px #999999;
}
em {
  font-style: normal;
}
h2 {
  margin-left: -25px;
  padding: 5px 25px;
  background-color: #FDBA30;
  border-bottom: solid 5px #D49624;
  width: fit-content;
}

/* Add styles here! */
